#define FIRSTHOUR
    [time]
        #textdomain wesnoth
        id=firsthour
        name= _ "First Hour (0600)"

        image=time/hour01.png

        lawful_bonus=5

        red=-35
        green=-35
        blue=-5
    [/time]
#enddef

#define SECONDHOUR
    [time]
        #textdomain wesnoth
        id=secondhour
        name= _ "Second Hour (0700)"
        image=time/hour02.png

        lawful_bonus=10

        red=-30
        green=-30
        blue=-5
    [/time]
#enddef

#define THIRDHOUR
    [time]
        #textdomain wesnoth
        id=thirdhour
        name= _ "Third Hour (0800)"
        image=time/hour03.png

        lawful_bonus=15

        red=-20
        green=-20
    [/time]
#enddef

#define FOURTHHOUR
    [time]
        #textdomain wesnoth
        id=fourthhour
        name= _ "Fourth Hour (0900)"
        image=time/hour04.png

        lawful_bonus=20

        red=-15
        green=-15
    [/time]
#enddef

#define FIFTHHOUR
    [time]
        #textdomain wesnoth
        id=fifthhour
        name= _ "Fifth Hour (1000)"
        image=time/hour05.png

        lawful_bonus=20

        red=-5
        green=-5
    [/time]
#enddef

#define SIXTHHOUR
    [time]
        #textdomain wesnoth
        id=sixthhour
        name= _ "Sixth Hour (1100)"
        image=time/hour06.png

        lawful_bonus=25

        red=-0
        green=-0
    [/time]
#enddef

#define SEVENTHHOUR
    [time]
        #textdomain wesnoth
        id=seventhhour
        name= _ "Seventh Hour (1200)"
        image=time/hour07.png

        lawful_bonus=25

        red=-0
        green=-0
    [/time]
#enddef

#define EIGHTHHOUR
    [time]
        #textdomain wesnoth
        id=eighthhour
        name= _ "Eighth Hour (1300)"
        image=time/hour08.png

        lawful_bonus=20

        red=-0
        green=-0
    [/time]
#enddef

#define NINTHHOUR
    [time]
        #textdomain wesnoth
        id=ninthhour
        name= _ "Ninth Hour (1400)"
        image=time/hour09.png

        lawful_bonus=20

        red=-0
        green=-0
    [/time]
#enddef

#define TENTHHOUR
    [time]
        #textdomain wesnoth
        id=tenthhour
        name= _ "Tenth Hour (1500)"
        image=time/hour10.png

        lawful_bonus=20

        red=10
        green=5
    [/time]
#enddef

#define ELEVENTHHOUR
    [time]
        #textdomain wesnoth
        id=eleventhhour
        name= _ "Eleventh Hour (1600)"
        image=time/hour11.png

        lawful_bonus=15

        red=20
        green=10
    [/time]
#enddef

#define TWELFTHHOUR
    [time]
        #textdomain wesnoth
        id=twelfthhour
        name= _ "Twelfth Hour (1700)"
        image=time/hour12.png

        lawful_bonus=10

        red=25
        green=15
    [/time]
#enddef

#define FIRSTWATCH1
    [time]
        #textdomain wesnoth
        id=firstwatch1
        name= _ "First Watch (1800)"
        image=time/firstwatch1.png

        lawful_bonus=10

        red=0
        green=0
        blue=0
    [/time]
#enddef

#define FIRSTWATCH2
    [time]
        #textdomain wesnoth
        id=firstwatch2
        name= _ "First Watch (1900)"
        image=time/firstwatch2.png

        lawful_bonus=5

        red=-10
        green=-10
        blue=0
    [/time]
#enddef

#define FIRSTWATCH3
    [time]
        #textdomain wesnoth
        id=firstwatch3
        name= _ "First Watch (2000)"
        image=time/firstwatch3.png

        lawful_bonus=-5

        red=-20
        green=-20
        blue=5
    [/time]
#enddef

#define SECONDWATCH1
    [time]
        #textdomain wesnoth
        id=secondwatch1
        name= _ "Second Watch (2100)"
        image=time/secondwatch1.png

        lawful_bonus=-15

        red=-40
        green=-40
        blue=10
    [/time]
#enddef

#define SECONDWATCH2
    [time]
        #textdomain wesnoth
        id=secondwatch2
        name= _ "Second Watch (2200)"
        image=time/secondwatch2.png

        lawful_bonus=-20

        red=-40
        green=-40
        blue=10
    [/time]
#enddef

#define SECONDWATCH3
    [time]
        #textdomain wesnoth
        id=secondwatch3
        name= _ "Second Watch (2300)"
        image=time/secondwatch3.png

        lawful_bonus=-25

        red=-40
        green=-40
        blue=10
    [/time]
#enddef

#define THIRDWATCH1
    [time]
        #textdomain wesnoth
        id=thirdwatch1
        name= _ "Third Watch (0000)"
        image=time/thirdwatch1.png

        lawful_bonus=-30

        red=-40
        green=-40
        blue=10
    [/time]
#enddef

#define THIRDWATCH2
    [time]
        #textdomain wesnoth
        id=thirdwatch2
        name= _ "Third Watch (0100)"
        image=time/thirdwatch2.png

        lawful_bonus=-30

        red=-40
        green=-40
        blue=-40
    [/time]
#enddef

#define THIRDWATCH3
    [time]
        #textdomain wesnoth
        id=thirdwatch3
        name= _ "Third Watch (0200)"
        image=time/thirdwatch3.png

        lawful_bonus=-25

        red=-40
        green=-40
        blue=-40
    [/time]
#enddef

#define FOURTHWATCH1
    [time]
        #textdomain wesnoth
        id=fourthwatch1
        name= _ "Fourth Watch (0300)"
        image=time/fourthwatch1.png

        lawful_bonus=-20

        red=-40
        green=-40
        blue=-40
    [/time]
#enddef

#define FOURTHWATCH2
    [time]
        #textdomain wesnoth
        id=fourthwatch2
        name= _ "Fourth Watch (0400)"
        image=time/fourthwatch2.png

        lawful_bonus=-15

        red=-40
        green=-40
        blue=-40
    [/time]
#enddef

#define FOURTHWATCH3
    [time]
        #textdomain wesnoth
        id=fourthwatch3
        name= _ "Fourth Watch (0500)"
        image=time/fourthwatch3.png

        lawful_bonus=-5

        red=-40
        green=-40
        blue=-40
    [/time]
#enddef

#define NW_FULL_DAY
    {FIRSTHOUR}
    {SECONDHOUR}
    {THIRDHOUR}
    {FOURTHHOUR}
    {FIFTHHOUR}
    {SIXTHHOUR}
    {SEVENTHHOUR}
    {EIGHTHHOUR}
    {NINTHHOUR}
    {TENTHHOUR}
    {ELEVENTHHOUR}
    {TWELFTHHOUR}
    {FIRSTWATCH1}
    {FIRSTWATCH2}
    {FIRSTWATCH3}
    {SECONDWATCH1}
    {SECONDWATCH2}
    {SECONDWATCH3}
    {THIRDWATCH1}
    {THIRDWATCH2}
    {THIRDWATCH3}
    {FOURTHWATCH1}
    {FOURTHWATCH2}
    {FOURTHWATCH3}
#enddef
